@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@font-face {
  font-family: 'kaeru-kaeru';
  src: url('../assets/fonts/kaeru-kaeru/kaerukaeru-Regular.woff2') format('woff2'),
       url('../assets/fonts/kaeru-kaeru/kaerukaeru-Regular.woff') format('woff');
  font-style: normal;
}

html {
  font-size: 10px; /* 1rem / Tailwind default */
}

.overlay{
  @apply top-0 left-0 h-full w-full;
}

/* panels */
.panel-indigo{
  @apply bg-indigo-700 rounded-2xlb;
}
.panel-dark{
  @apply bg-indigo-900 rounded-2xl shadow-md-blue;
}

/* button styles */
.btn {
  @apply rounded-full flex items-center justify-center;
}
.btn-sm {
  @apply h-40
}
.btn-md {
  @apply h-54;
}
.btn-mdd {
  @apply h-64;
}
.btn-lg {
  @apply h-80 text-xl font-semibold pt-2;
}
.btn-xl{
  @apply h-112 max-w-lg text-2xl font-semibold transform transition duration-150;
  &:not([disabled]) {
    @apply notouch_hover_scale-102;
  }
}
.btn-indigo{
  @apply bg-indigo-700
}
.btn-dark{
  @apply bg-indigo-700;
}
.btn-darker{
  @apply bg-indigo-900 notouch_hover_text-white transition duration-150;
}
.btn-white{
  @apply bg-white text-blue-900 transform duration-150;
  &:not([disabled]) {
    @apply notouch_hover_scale-102;
  }
}
.btn-outline {
  @apply border border-violet-700 focus_border-violet-600;
  &:not([disabled]) {
    @apply notouch_hover_border-violet-600 notouch_hover_bg-violet-600;
  }
}
.btn-violet{
  @apply bg-violet-600 border-2 border-transparent;
  &:not([disabled]) {
    @apply notouch_hover_border-white
  }
}
.btn-active-white {
  &.router-link-exact-active { @apply btn-white }
}
.btn-active-violet {
  &.router-link-exact-active { @apply bg-violet-600 }
  @apply border-2 border-transparent notouch_hover_border-violet-600;
}

button{
  &[disabled] {
    @apply cursor-not-allowed;
  }
}

/* fields */
input, textarea {
  appearance:none;
  background:none;
  font-weight: inherit;
  text-align: inherit;
  resize:none;
  min-width:0;
  &::placeholder{
    opacity:0.5;
    @apply text-violet-600;
  }
  &:focus{
    outline:none;
    &::placeholder{
      opacity: 0.6;
    }
  }
}

/* number input hide arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input-group {
  @apply  rounded-2xlb bg-indigo-800 p-12;
}