@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'cheee';
  src: url('../assets/fonts/cheee/Cheee-Conshred.woff2') format('woff2'),
       url('../assets/fonts/cheee/Cheee-Conshred.woff') format('woff');
  font-style: normal;
}

html {
  font-size: 8px; /* 1rem / Tailwind default */
}
@screen md {
  html {
    font-size:10px;
  }
}

.overlay{
  @apply top-0 left-0 h-full w-full;
}

.scrollbars-hidden::-webkit-scrollbar{ display: none; }

/* panels */
.panel-indigo{
  @apply bg-indigo-700 rounded-2xlb;
}
.panel-dark{
  @apply bg-indigo-900 rounded-2xl shadow-md-blue;
}

/* button styles */
.btn {
  @apply rounded-full flex items-center justify-center;
}
.btn-sm {
  @apply h-40
}
.btn-md {
  @apply h-54;
}
.btn-mdd {
  @apply h-64;
}
/* .btn-mddd {
  @apply h-72;
} */
.btn-lg {
  @apply h-80 text-xl font-semibold pt-2;
}
.btn-lgg {
  @apply h-96 text-xll font-semibold;
}
.btn-xl{
  @apply h-112 text-2xl font-semibold transform transition duration-150;
  &:not([disabled]) {
    @apply notouch_hover_scale-102;
  }
}
.btn-indigo{
  @apply bg-indigo-700 border-2 border-transparent;
  &:not([disabled]) {
    @apply notouch_hover_border-white;
  }
}
.btn-dark{
  @apply bg-indigo-700;
}
.btn-darker{
  @apply bg-indigo-900 notouch_hover_text-white transition duration-150;
}
.btn-darkest{
  @apply bg-indigo-950;
  &:not([disabled]) {
    @apply notouch_hover_ring;
  }
}
.btn-white{
  @apply bg-white text-black;
  &:not([disabled]) {
    @apply notouch_hover_ring notouch_hover_ring-violet-650;
  }
}
.btn-outline {
  @apply border border-violet-700;
  &:not([disabled]) {
    @apply notouch_hover_ring;
  }
}
.btn-outline-orange{
  @apply border border-orange-500;
  &:not([disabled]) {
    @apply notouch_hover_bg-orange-500;
  }
}
.btn-outline-green{
  @apply border border-greenbright-500 text-greenbright-500;
  &:not([disabled]) {
    @apply notouch_hover_ring-1 notouch_hover_ring-greenbright-500 focus_ring-1;
  }
}
.btn-outline-violet{
  /* set .border class on element for desired thickness */
  @apply border-violet-650 text-violet-650;
  &:not([disabled]) {
    @apply notouch_hover_ring-1 notouch_hover_ring-violet-650 focus_ring-1;
  }
}
.btn-violet{
  @apply bg-violet-600 text-white;
  &:not([disabled]) {
    @apply notouch_hover_ring
  }
}
.btn-active-white {
  &.router-link-exact-active { @apply btn-white }
}
.btn-active-violet {
  &.router-link-exact-active { @apply bg-violet-600 text-white }
  @apply border-2 border-transparent notouch_hover_border-violet-600;
}
.btn-focus-violet {
  @apply notouch_hover_ring notouch_hover_ring-violet-650 focus_ring focus_ring-violet-650;
}

button{
  font-weight:inherit;
  &[disabled] {
    @apply cursor-not-allowed;
  }
}

/* fields */
input, textarea {
  appearance:none;
  background:none;
  font-weight: inherit;
  text-align: inherit;
  resize:none;
  min-width:0;
  &::placeholder{
    opacity:0.25;
    @apply text-violet-600;
  }
  &:focus{
    outline:none;
    &::placeholder{
      /* opacity: 0.6; */
    }
  }
}

/* number input hide arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input-group {
  @apply  rounded-2xlb bg-indigo-700 p-12;
}

.child-links-underline a { @apply underline }
.child-lists-list{
  & ul { @apply list-disc pl-20 },
  & ol { @apply list-decimal pl-20 }
}

.children-mt-em > * + *{
  margin-top: 1.15em;
}